<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
  <meta name="csrf-token" content="{{ csrfToken }}" />
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Email address" [(ngModel)]="loginId"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="loginPwd"></ion-input>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-spinner [hidden]="!showSpinner"></ion-spinner>
    </ion-item>
    <ion-button (click)="loginUser()">Login</ion-button>
    <ion-button (click)="registerUser()">Register</ion-button>
  </ion-item>
</ion-content>